%form.search{:action => url_for(:root), :method => 'get'}
  %label
    %span Rua/Avenida/Bairro/Terminal/Etc e tal:
    %input{:type => 'text', :name => 'q', :size => 50, :value => params[:q]}
  .btn-holder
    %input{:type => 'submit', :value => 'Pesquisar'}

.list-block
  %h2= @show_list ? "Lista das Linhas de Ônibus em Goiânia" : "Foram encontradas #{@lines.size} linha(s) contendo #{@terms}"
  - if @lines.any?
    .quick-filter
      %input#line-filter.filter-inactive{:type => 'text', :value => 'Filtragem rápida'}
    %ul.linhas
      - for line in @lines
        %li
          %a{:href => bus_line_path(line)}
            %span.line-code= line.code
            %span.line-name= line.name
            .clear
  - else
    %p.warning Não foi encontrada nenhuma linha.
